* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--color);
    font-family: Averta;
    overflow-x: hidden;
    letter-spacing: -0.05em;
    font-weight: lighter;
    /* border: 1px solid red; */
}
::selection {
    background: var(--color);
    color: var(--background);
}
:root {
    --max-width: 1330px;
    --background: #fff;
    --color: #000;
    --p-color: #111;
    --p-size: 18px;
    --nav-links: #f2f2f2;
    --h3-size: 30px;
}
body {
    background: var(--background);
    color: var(--color);
    opacity: 0;
    animation: opa 1s ease forwards;
    transition: 0.5s ease background;
}
@keyframes opa {
    to {
        opacity: 1;
    }
}
@font-face {
    font-family: Averta;
    src: url("../fonts/AvertaRegular.ttf");
}

@font-face {
    font-family: AvertaSemi;
    src: url("../fonts/AvertaSemibold.ttf");
}

@font-face {
    font-family: AvertaBold;
    src: url("../fonts/AvertaBolder.otf");
}

@font-face {
    font-family: Tiny;
    src: url("../fonts/Tiny.ttf");
}

@font-face {
    font-family: Graphire;
    src: url("../fonts/Graphire.ttf");
}

@font-face {
    font-family: Legquinne;
    src: url("../fonts/Legquinne.otf");
}
p {
    color: #111;
    font-size: var(--p-size);
}
h3 {
    font-size: var(--h3-size);
}

/* navigation */
nav {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 1;
    overflow: visible;
}
nav .logo {
    overflow: visible;
    z-index: 1;
}
nav .logo img {
    height: 25px;
    width: auto;
    cursor: pointer;
    /* filter: drop-shadow(0 0 29px #000);
    \\ */
}
nav .humberger {
    position: fixed;
    right: 100px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
}
nav .humberger::before,
nav .humberger::after {
    content: "";
    height: 2px;
    width: 100%;
    margin: 2px;
    background: var(--color);
    transition: 0.5s background, 0.5s transform, 0.5s margin, 0.5s position;
}
nav .humberger.active::before {
    position: absolute;
    margin: 0px;
    transform: rotate(45deg);
    transition: 0.5s background, 0.5s transform, 0.5s margin, 0.5s position;
}
nav .humberger.active::after {
    position: absolute;
    margin: 0px;
    transform: rotate(-45deg);
    transition: 0.5s background, 0.5s transform, 0.5s margin, 0.5s position;
}
nav .bg-eff {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #0000;
    pointer-events: none;
    transition: 0.5s background;
}
nav .bg-eff.active {
    background: #dadadab3;
    pointer-events: unset;
}
nav .links {
    position: fixed;
    top: 0;
    height: 100vh;
    right: -950px;
    width: 950px;
    padding: 50px 0 100px 190px;
    background: var(--background);
    display: flex;
    transition: 0.5s background, 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}
nav .links.active {
    right: 0;
    transition: 0.5s background, 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--nav-links);
    z-index: 1;
    transition: 1s background cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links.active::before {
    pointer-events: none;
    background: #0000;
    transition: 1s background cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.2s;
}
nav .links .social {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
}
nav .links .social .social-content {
    transform: translateY(-10%);
    height: 440px;
}
nav .links .social .social-content li p {
    padding: 30px 0;
    letter-spacing: -0.05em;
    color: gray;
    font-size: 15px;
}
nav .links .social .social-content li a {
    position: relative;
    letter-spacing: -0.05em;
    font-size: 20px;
    display: inline-flex;
    padding: 2.5px 1px 2.5px 0;
}
nav .links .social .social-content li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0px;
    background: var(--color);
    transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links .social .social-content li a:hover:before {
    width: 100%;
}
nav .links .main {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    overflow: visible;
}
nav .links .main .main-content {
    transform: translateY(-10%);
    height: 440px;
    overflow: visible;
}
nav .links .main .main-content li p {
    padding: 30px 0;
    letter-spacing: -0.05em;
    color: gray;
    font-size: 15px;
}
nav .links .main .main-content li {
    overflow: visible;
}
nav .links .main .main-content li a {
    position: relative;
    letter-spacing: -0.05em;
    font-size: 55px;
    width: auto;
    padding: 0 3px 0 0;
    overflow: visible;
}
nav .links .main .main-content li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0px;
    background: var(--color);
    transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links .main .main-content li a:hover:before {
    width: 100%;
}
nav .links .touch {
    position: absolute;
    bottom: 100px;
    overflow: visible;
}
nav .links .touch a {
    position: relative;
}
nav .links .touch a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    height: 2px;
    width: 0px;
    background: var(--color);
    transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links .touch a:hover:before {
    width: 100%;
}
/* navigation bar  */

/* container */
.container {
    width: var(--max-width);
    min-height: calc(100vh - 100px - 300px);
    margin: 0 auto;
    overflow: hidden;
}
.container section {
    min-height: 500px;
    width: 100%;
    margin: 0 0 100px 0;
}
.container .hall-page {
    opacity: 0;
    transform: translateY(100px);
    animation: transform 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation-delay: 0.9s;
    overflow: hidden;
}
@keyframes transform {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
header {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: visible;
}
header h2 {
    font-weight: lighter;
    font-size: 50px;
    line-height: 100%;
    overflow: visible;
}
/* container */

/* footer  */
.last {
    position: relative;
    min-height: 600px;
    width: 100%;
    background: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.last h1,
.last h2,
.last h3,
.last h4,
.last p,
.last a {
    color: var(--background);
    letter-spacing: unset;
    text-transform: none;
}
.last .footer {
    min-height: 400px;
    width: var(--max-width);
    margin: 20vh auto;
}
.last .footer .contact {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.last .footer .contact h1 {
    position: relative;
    font-size: 70px;
    overflow: visible;
    font-family: avertasemi;
    border-bottom: 2px solid #4d4d4d;
}
.last .footer .contact h1 a {
    font-family: averta;
}
.last .footer .contact h1 a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0%;
    background: var(--background);
    transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1);
}
.last .footer .contact h1 a:hover:before {
    width: 100%;
}
.last .footer .footer-links {
    height: 300px;
    display: grid;
    grid-template-columns: 40% 1fr;
}
.last .footer .footer-links .left {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.last .footer .footer-links .left a {
    border-bottom: 1px solid #4d4d4d;
    position: relative;
    overflow: visible;
    margin: 0 0 10px 0;
    font-size: var(--p-size);
}
.last .footer .footer-links .left a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    height: 1px;
    width: 0%;
    background: var(--background);
    transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1),
        1s left cubic-bezier(0.075, 0.82, 0.165, 1);
}
.last .footer .footer-links .left a:hover:before {
    width: 100%;
    left: 0%;
}
.last .footer .footer-links .left span {
    color: #868686;
    font-size: var(--p-size);
}
/* footer  */
.last .footer .footer-links .right {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.last .footer .footer-links .right ul li {
    display: inline-block;
    padding: 0;
    margin: 5px 10px;
}
.last .footer .footer-links .right ul li a {
    display: inline-block;
}
/* footer  */

@media screen and (max-width: 2230px) and (max-height: 1080px) {
    nav .links {
        right: -755px;
        width: 755px;
        padding: 50px 0 100px 151px;
    }
    nav .links .social .social-content {
        transform: translateY(-10%);
        height: 340px;
        overflow: visible;
    }
    nav .links .social .social-content li a {
        font-size: 16px;
    }
    nav .links .main {
        margin-left: 108px;
    }
    nav .links .main .main-content {
        height: 340px;
    }
    nav .links .main .main-content li a {
        font-size: 40px;
    }
}
@media screen and (max-width: 1920px) {
    nav .links {
        right: -855px;
        width: 855px;
        padding: 50px 0 100px 171px;
    }
    nav .links .social .social-content {
        height: 380px;
    }
    nav .links .main .main-content {
        height: 380px;
    }
    nav .links .main .main-content li a {
        font-size: 45px;
    }
}
@media screen and (max-width: 1920px) and (max-height: 1080px) {
    nav .links {
        right: -777px;
        width: 777px;
        padding: 50px 0 100px 155px;
    }
    nav .links .main {
        margin-left: 113px;
    }
}
@media screen and (max-width: 1768px) {
    nav .links {
        right: -785px;
        width: 785px;
        padding: 50px 0 100px 171px;
    }
    nav .links .social .social-content {
        height: 340px;
    }
    nav .links .social .social-content li a {
        font-size: 16px;
    }
    nav .links .main {
        margin-left: 108px;
    }
    nav .links .main .main-content {
        height: 340px;
    }
    nav .links .main .main-content li a {
        font-size: 40px;
    }
}
@media screen and (max-width: 1650px) {
    nav .links {
        right: -725px;
        width: 725px;
        padding: 50px 0 100px 160px;
    }
    nav .links .social .social-content {
        height: 307px;
    }
    nav .links .social .social-content li p {
        padding: 15px 0;
        font-size: 13px;
    }
    nav .links .main {
        margin-left: 90px;
    }
    nav .links .main .main-content {
        height: 307px;
    }
    nav .links .main .main-content li p {
        padding: 15px 0;
        font-size: 13px;
    }
    nav .links .touch p {
        font-size: 13px;
    }
    /* nav  */

    .last {
        min-height: 100vh;
    }
}
@media screen and (max-width: 1455px) {
    nav .links {
        right: -655px;
        width: 655px;
        padding: 50px 0 100px 145px;
    }
    nav .links .social .social-content {
        height: 267px;
    }
    nav .links .social .social-content li p {
        padding: 10px 0;
    }
    nav .links .social .social-content li a {
        font-size: 16px;
        padding: 0;
    }
    nav .links .main {
        margin-left: 70px;
    }
    nav .links .main .main-content {
        height: 267px;
    }
    nav .links .main .main-content li p {
        padding: 10px 0;
    }
    nav .links .main .main-content li a {
        font-size: 35px;
    }
}
@media screen and (max-width: 1455px) {
    nav {
        padding: 0 40px;
    }
    nav .logo {
        font-size: 16px;
    }
    nav .humberger {
        right: 40px;
        width: 20px;
    }
    nav .right .light-dark {
        transform: translateX(-10px);
    }
    nav .right .light-dark #switcher {
        height: 20px;
        width: 20px;
    }
    nav .right .light-dark #switcher img {
        height: 10px;
        width: 10px;
    }
    nav .links {
        right: -580px;
        width: 580px;
        padding: 50px 0 100px 120px;
    }
    nav .links .social .social-content {
        height: 237px;
    }
    nav .links .main {
        margin-left: 50px;
    }
    nav .links .main .main-content {
        height: 237px;
    }
    nav .links .main .main-content li a {
        font-size: 30px;
    }
}
@media screen and (max-width: 1440px) {
    :root {
        --max-width: 1200px;
        --h3-size: 25px;
    }

    /* nav  */
    nav {
        height: 75px;
    }
    /* nav  */

    /* header */
    header h2 {
        font-size: 45px;
    }
    /* header */

    /* last  */
    .last .footer .contact {
        height: 250px;
    }
    .last .footer .contact h1 {
        font-size: 50px;
    }
    .last .footer .footer-links {
        height: 200px;
    }
}
@media screen and (max-width: 1366px) {
    :root {
        --max-width: 1100px;
        --h3-size: 23px;
        --p-size: 16px;
    }

    /* header */
    header h2 {
        font-size: 35px;
    }
    /* header */
}
@media screen and (max-width: 1280px) and (max-height: 800px) {
    nav .links {
        right: -530px;
        width: 530px;
        padding: 50px 0 100px 100px;
    }
    /* nav  */
    .last .footer .contact h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 1280px) and (max-height: 960px) {
    .last .footer .contact h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 1024px) {
    :root {
        --max-width: 900px;
        --h3-size: 18px;
        --p-size: 15px;
    }

    /* header  */
    header {
        min-height: 100px;
    }
    header h2 {
        font-size: 30px;
    }
    /* header  */

    .last .footer .contact h1 {
        font-size: 50px;
    }

    .last .footer li a {
        font-size: var(--p-size);
    }
}
@media screen and (max-width: 885px) {
    :root {
        --max-width: 700px;
        --h3-size: 18px;
        --p-size: 15px;
    }

    /* container  */
    .container section {
        min-height: 300px;
        width: 100%;
        margin: 0 0 50px 0;
    }
    /* container  */

    .last {
        min-height: 70vh;
    }
    .last .footer .contact h1 {
        font-size: 40px;
    }
    .last .footer .contact {
        height: 200px;
    }
}
@media screen and (max-width: 580px) {
    nav {
        padding: 0 20px;
    }
    nav .humberger {
        right: 20px;
    }
    nav .links {
        right: -100%;
        width: 100%;
        padding: 50px 0 100px 80px;
    }
    nav .links .social .social-content {
        height: 237px;
    }
    nav .links .main {
        margin-left: 50px;
    }
    nav .links .main .main-content {
        height: 237px;
    }
}
@media screen and (max-width: 500px) {
    nav .links .social {
        display: none;
    }
    nav .links .main {
        margin-left: 0px;
    }
    nav .links .main .main-content li a {
        font-size: 25px;
    }
}
@media screen and (max-width: 430px) {
    :root {
        --max-width: 100%;
        --h3-size: 19px;
        --p-size: 16px;
    }

    /* container  */
    .container {
        padding: 0 20px;
    }
    /* container  */

    /* header */
    header h2 {
        font-size: 27px;
    }
    /* header */

    .last {
        min-height: 50vh;
    }

    .last .footer {
        padding: 0 20px;
        min-height: 200px;
        margin: 20vh auto;
    }
    .last .footer .contact {
        height: 130px;
    }
    .last .footer .contact h1 {
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
    }
    .last .footer .footer-links {
        display: grid;
        grid-template-columns: 1fr;
    }
    .last .footer .footer-links .left {
        align-items: center;
        margin: 20px 0;
    }
    .last .footer .footer-links .right {
        align-items: center;
    }
    .last .footer .footer-links .right ul li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 400px) {
    nav .links {
        right: -100%;
        width: 100%;
        padding: 50px 0 100px 40px;
    }
}
